.out-container{
    display: flex;
    justify-content: center;
}
nav {
    margin-top: 20px;
}
.files-container {
    /*align-content: center;*/
    /*display: flex;*/
}
.file-node {
    /*margin: 18px 0;*/
    padding: 10px 0;
    position: relative;
}
.file-icon {
    width: 20px;
    height: 20px;
}
.file-name {
    margin-left: 6px;
    /*font-weight: bold;*/
    font-size: 16px;
    /*font:12px/1.5 tahoma,arial;*/
    /*font-family: "Segoe UI", "Arial", sans-serif;*/
}
